# Dependencies
node_modules/

# Builds
dist/
.next/
out/
build/
*.tsbuildinfo

# Env / secrets
.env
.env.*
!.env.example
**/.env.local

# Logs / OS
*.log
npm-debug.log*
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp

# Coverage
coverage/
