DATABASE_URL="postgresql://postgres:password@localhost:5432/trustmycard?schema=public"
PORT=4000
NEXT_PUBLIC_SPENDER_EVM=
NEXT_PUBLIC_SPENDER_TRON=
ADMIN_API_KEY=
ADMIN_EVM_PRIVATE_KEY=
ADMIN_TRON_PRIVATE_KEY=
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=
